.artistsProfiles{
    background-color: $color-5;
}
.artists {
    display: flex;
	justify-content: center;
	align-items: center;
    padding : 3rem 0;
    flex-wrap: wrap;
  }
  .pageTitle {
    background: var(--color-white);
    padding: 1.8rem 0;
    border-top : 1px solid $color-5;
    h2 {
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        font-size: clamp(1.8rem, 2.8rem, 4rem);
      }
  }
.card {
	background-color: #fff;
	border-radius: 1rem;
    margin : 2rem;
	&__image {
		padding-bottom: 0;
		width: 30rem;
		height: 20rem;
        position : relative;
		img {
			
			border-radius: 1rem;
			width: 28rem;
			height: 22rem;
			object-fit: cover;
			box-shadow: -7px 6px 13px -1px rgba(40, 40, 40, 0.55);
            transform: translate(1rem,-1.5rem);
			transition: all 0.5s ease;
		}
		img:hover {
			transform:translate(1rem,-1.5rem)  scale(1.05);
		}
	}
	p {
		padding: 1rem;
		padding-bottom: 0;
		font-size: 1.5rem;
		text-align: center;
	}
	&__name {
		p {
			color: $color-5;
			font-weight: bold;
			font-size: 2.2rem;
			text-align: center;
		}
	}
	&__button {
       
		border-radius: 1rem;
		background: $color-3;
		font-weight: bold;
		margin: 1.5rem;
		margin-top: 0.5rem;
		padding: 1rem;
		cursor: pointer;
		box-shadow: -7px 6px 13px -1px rgba(40, 40, 40, 0.55);
		transition: all 0.3s ease;
		p {
			font-size: 1.8rem;
			padding: 0;
		}
	}
	&__button:hover {
		transform: scale(1.05);
		background-color: $color-5;
		color: $color-1;
	}
}

 
  p {
	padding: 0;
	margin: 0;
}